Repository Flojolomo/chatbot-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:fix

.lintstagedrc.json:

{
  "*.yaml": "prettier --write",
  "*.json": "prettier --write",
  "*.ts": "yarn lint:fix"
}

chore: set up release pipeline with semantic-release
  .github/workflows/release.yaml
  .releaserc
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

initialize config rule stack
  bin/chatbot-config.ts
Due: yarn lint:fix

chore: commit yarn release script
  .yarn/releases/yarn-4.1.1.cjs
Due: none

chore: change branch to create release to main
  .github/workflows/release.yaml
Due: prettier --write

chore: ignore .gz files
  .gitignore
Due: none

chore: change trigger of deploy to run after release
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

chore: remove publishing from release
  .github/workflows/release.yaml
Due: prettier --write

split ci workfow and reuse in actions
  .github/workflows/ci.yaml
  .github/workflows/on-pr-updated.yaml
  .github/workflows/release.yaml
Due: prettier --write

fix condition for checkout
  .github/workflows/ci.yaml
Due: prettier --write

chore: reuse ci workflow (#8)
  .github/workflows/ci.yaml
  .github/workflows/on-pr-updated.yaml
  .github/workflows/release.yaml
Due: prettier --write

chore: fix semantic release version
  .releaserc
Due: none

chore: avoid release
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

chore: disable release action
  .github/workflows/release.yaml
Due: prettier --write

add git config to enable merge
  .github/workflows/cdk-diff.yaml
Due: prettier --write

use env to set region as well as account
  bin/chatbot-config.ts
Due: yarn lint:fix

feat: config rule notifications (#7)
  .github/workflows/cdk-diff.yaml
  bin/chatbot-config.ts
  lib/chatbot-stack.ts
  lib/config-rules-stack.ts
Due: prettier --write, yarn lint:fix

chore: configure semantric release to not publish
  .github/workflows/release.yaml
  .releaserc
Due: prettier --write

Notes added by 'git notes add'
  a41e88a0b2d7ac3572a41a73c03d4b70f76be19c
Due: none

set up config delivery to enable config rules
  lib/config-rules-stack.ts
Due: yarn lint:fix

introduce dependency between resources
  lib/config-rules-stack.ts
Due: yarn lint:fix

fix: set up config delivery to enable config rules (#9)
  lib/config-rules-stack.ts
Due: yarn lint:fix

Notes added by 'git notes add'
  11970434b042e930faa224d4a7e0f4eb167fab8f
Due: none

chore: set up config rule stack without rule
  lib/config-rules-stack.ts
Due: yarn lint:fix

chore: limit lines per function
  .eslintrc
  lib/oidc-provider-stack.ts
Due: yarn lint:fix

chore: introduce complexity linter
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

chore: adopt function lenth to linter rule
  lib/config-rules-stack.ts
Due: yarn lint:fix

restrict config service to bucket and role
  lib/config-rules-stack.ts
Due: yarn lint:fix

add config recorder wir dependency to role
  lib/config-rules-stack.ts
Due: yarn lint:fix

create delivery channel instead of recorder to void NoAvailableDeliveryChannelException
  lib/config-rules-stack.ts
Due: yarn lint:fix

create recorder to prevent NoAvailableConfigurationRecorderException;
  lib/config-rules-stack.ts
Due: yarn lint:fix

cleanup stack from comments
  lib/config-rules-stack.ts
Due: yarn lint:fix

use function to create delivery channel
  lib/config-rules-stack.ts
Due: yarn lint:fix

set up cloudformation stack notification rule
  lib/config-rules-stack.ts
Due: yarn lint:fix

fix: set up config service (#10)
  lib/config-rules-stack.ts
Due: yarn lint:fix

Notes added by 'git notes add'
  f0c7f633bd4945ee828b0f1c54deeb67881d8bc3
Due: none

send compliance change events to notification topic
  bin/chatbot-config.ts
  lib/config-rules-stack.ts
Due: yarn lint:fix

feat: send compliance change events to notification topic (#11)
  bin/chatbot-config.ts
  lib/config-rules-stack.ts
Due: yarn lint:fix

Notes added by 'git notes add'
  cf8c1664cbc62753e7941669b526daf60e07c4b4
Due: none

build remediation for cfn stack notification rule
  lib/config-rules-stack.ts
Due: yarn lint:fix

add missing parameters for AWS-EnableCloudFormationStackSNSNotification
  lib/config-rules-stack.ts
Due: yarn lint:fix
