Repository Flojolomo/chatbot-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:fix

add remediation role with proper permissions
  lib/config-rules-stack.ts
Due: yarn lint:fix

set auto remediation to true
  lib/config-rules-stack.ts
Due: yarn lint:fix

remove unnecessary permission to sendCommand
  lib/config-rules-stack.ts
Due: yarn lint:fix

fix encapsulation to avoid invalid parameter value
  lib/config-rules-stack.ts
Due: yarn lint:fix

fix failed deployment by adding required parameters for auto remediation
  lib/config-rules-stack.ts
Due: yarn lint:fix

fix missing permission for cloudformation:DescribeStacks
  lib/config-rules-stack.ts
Due: yarn lint:fix

grant missing update stack permissions
  lib/config-rules-stack.ts
Due: yarn lint:fix

remove whitespace causing invalid policy error
  lib/config-rules-stack.ts
Due: yarn lint:fix

use cloned document with capabilities
  lib/config-rules-stack.ts
Due: yarn lint:fix

create document to enable IAM capabilities
  .github/dependabot.yml
  lib/EnableCloudFormationStackSNSNotification-WithIam.yaml
  lib/config-rules-stack.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:fix

change capabilities to named iam
  lib/EnableCloudFormationStackSNSNotification-WithIam.yaml
Due: prettier --write

fix use of wrong document name
  lib/config-rules-stack.ts
Due: yarn lint:fix

change logical id to force replacement
  lib/config-rules-stack.ts
Due: yarn lint:fix

add missing permission to publish sns message
  lib/config-rules-stack.ts
Due: yarn lint:fix

grant iam get role to fix remediation
  lib/config-rules-stack.ts
Due: yarn lint:fix

grant pass role permission
  lib/config-rules-stack.ts
Due: yarn lint:fix

add kms:Create key permission
  lib/config-rules-stack.ts
Due: yarn lint:fix

grant getParameters permission
  lib/config-rules-stack.ts
Due: yarn lint:fix

grant describe key permission
  lib/config-rules-stack.ts
Due: yarn lint:fix

reorder permissions and add SID
  lib/config-rules-stack.ts
Due: yarn lint:fix

move config stack to separate directory to improve maintainability
  bin/chatbot-config.ts
  lib/services/config/index.ts
  lib/services/config/ssm-documents/EnableCloudFormationStackSNSNotification-WithIam.yaml
Due: prettier --write, yarn lint:fix

rename fil & class
  bin/chatbot-config.ts
  lib/services/config/config-stack.ts
Due: yarn lint:fix

refactor rule configuration into separate construct
  .eslintrc
  bin/chatbot-config.ts
  lib/services/config/cloudformation-stack-notification.ts
  lib/services/config/config-stack.ts
Due: yarn lint:fix

fix invalid document schema
  lib/services/config/cloudformation-stack-notification.ts
Due: yarn lint:fix

add missing sns:Publish permission
  lib/services/config/cloudformation-stack-notification.ts
Due: yarn lint:fix

send notifications on compliance change
  lib/services/config/cloudformation-stack-notification.ts
  lib/services/config/config-stack.ts
Due: yarn lint:fix

fix: build remediation for cfn stack notification rule (#12)
  .eslintrc
  .github/dependabot.yml
  bin/chatbot-config.ts
  lib/services/config/cloudformation-stack-notification.ts
  lib/services/config/config-stack.ts
  lib/services/config/ssm-documents/EnableCloudFormationStackSNSNotification-WithIam.yaml
  package.json
  yarn.lock
Due: prettier --write, yarn lint:fix

Notes added by 'git notes add'
  c1fcaa184b5370fb7d8230ec755e22f8f10b663f
Due: none

move oidc stack to services/iam
  bin/chatbot-config.ts
  lib/services/iam/oidc-provider-stack.ts
Due: yarn lint:fix

move chatbot stack to separate directory
  bin/chatbot-config.ts
  lib/services/chatbot/chatbot-stack.ts
Due: yarn lint:fix

update readme
  README.md
Due: none

setup scaffold for stack
  bin/chatbot-config.ts
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

refactor: directory structure to split according to service (#13)
  bin/chatbot-config.ts
  lib/services/chatbot/chatbot-stack.ts
  lib/services/iam/oidc-provider-stack.ts
Due: yarn lint:fix

add api gateway as entry point
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

docs: update readme (#14)
  README.md
Due: none

create scaffold of resources
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

fix import for consistency
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add dynamodb table
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

fix missing partition key on table
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add idea to readme for datadog integration
  README.md
Due: none

Path conditions:
  prettier --write: (any of: *.yaml) or (any of: *.json)
  yarn lint:fix: any of: *.ts
