Repository Flojolomo/chatbot-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:fix

add permissions to create roles
  lib/services/iam/datadog-deployment-role.ts
Due: yarn lint:fix

grant attach role policy
  lib/services/iam/datadog-deployment-role.ts
Due: yarn lint:fix

add comment about datadog initialization
  README.md
Due: none

update docs
  README.md
Due: none

delete stack for datadog deployment
  bin/chatbot-config.ts
  lib/services/iam/datadog-deployment-role.ts
Due: yarn lint:fix

set up datadog with cdk
  bin/chatbot-config.ts
  lib/config.ts
  lib/use-cases/monitoring/monitoring-stack.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:fix

fix missing package in lockfile
  yarn.lock
Due: none

fix cdk actions with environment variables
  .github/workflows/cdk-deploy.yaml
  .github/workflows/cdk-diff.yaml
Due: prettier --write

add auto expand permission
  lib/services/config/ssm-documents/EnableCloudFormationStackSNSNotification-WithIam.yaml
Due: prettier --write

change logical id to enforce update
  lib/services/config/cloudformation-stack-notification.ts
Due: yarn lint:fix

fix name of ssm document
  lib/services/config/cloudformation-stack-notification.ts
Due: yarn lint:fix

rename document
  lib/services/config/cloudformation-stack-notification.ts
  lib/services/config/ssm-documents/EnableCloudFormationStackSNSNotification.yaml
Due: prettier --write, yarn lint:fix

fix: config updates on datadog integration (#16)
  .github/workflows/cdk-deploy.yaml
  .github/workflows/cdk-diff.yaml
  README.md
  bin/chatbot-config.ts
  lib/config.ts
  lib/services/config/cloudformation-stack-notification.ts
  lib/services/config/ssm-documents/EnableCloudFormationStackSNSNotification.yaml
  lib/use-cases/monitoring/monitoring-stack.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:fix

include list and matrix generation for diff
  .github/workflows/cdk-diff.yaml
Due: prettier --write

Notes added by 'git notes add'
  2ebde772cb8caa0e156de455ce12af7de6858c47
Due: none

declare env globaly in action
  .github/workflows/cdk-diff.yaml
Due: prettier --write

fix outputs and remove deprecated statements
  .github/workflows/cdk-diff.yaml
Due: prettier --write

fix copy error
  .github/workflows/cdk-diff.yaml
Due: prettier --write

set list to output
  .github/workflows/cdk-diff.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.yaml) or (any of: *.json)
  yarn lint:fix: any of: *.ts
