Repository Flojolomo/chatbot-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:fix

update readme
  README.md
Due: none

create lambda function with tracing & logging enabled
  lib/use-cases/x-ray-tracing/lambda/handler.ts
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:fix

Fix error of multiple lock files
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

Install esbuild for docker bundling
  package.json
  yarn.lock
Due: prettier --write

add troubleshooting section to readme
  README.md
Due: none

Revert "Fix error of multiple lock files"
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add todo to fix action
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

change action to custom action for cdk diff
  .github/workflows/cdk-diff.yaml
Due: prettier --write

fix version to 0.0.1 of forked action
  .github/workflows/cdk-diff.yaml
Due: prettier --write

use master as reference for github action
  .github/workflows/cdk-diff.yaml
Due: prettier --write

use v1 of github action
  .github/workflows/cdk-diff.yaml
Due: prettier --write

update reference to github repo of action
  .github/workflows/cdk-diff.yaml
Due: prettier --write

fix use of action for deploy command
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

fix spelling to prevent linter errors
  .github/workflows/cdk-deploy.yaml
  .github/workflows/cdk-diff.yaml
Due: prettier --write

Revert "add todo to fix action"
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

replace http api with rest to enable eventbus integration
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

restructure code
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

remove API
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

ad api and connect to event bus
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add missing properties to integration
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add comment why to change to REST
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

replace HTTP again with REST Api
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

remove path integration from api
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add mock integration
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

extend the mock integration
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

limit configuration to integration response
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

destroy dynamodb on removal
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

fix mock response
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

integrate POST /event
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

fix posting messages on event bus
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

set up missing resources
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

cleanup
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

connect all components
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

fix permissions
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

set log retention
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

add idea
  README.md
Due: none

fix event bus rule initialization
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

comment removal policy to avoid error
  lib/use-cases/x-ray-tracing/x-ray-tracing-stack.ts
Due: yarn lint:fix

set up batch processing in lambda handler
  lib/use-cases/x-ray-tracing/lambda/handler.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:fix

Intrument tracer to trace all AWS events
  lib/use-cases/x-ray-tracing/lambda/handler.ts
Due: yarn lint:fix

Path conditions:
  prettier --write: (any of: *.yaml) or (any of: *.json)
  yarn lint:fix: any of: *.ts
