Repository Flojolomo/chatbot-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:fix

integrate chatbot stack
  bin/chatbot-config.ts
  lib/chatbot-stack.ts
  lib/config.ts
Due: yarn lint:fix

add todo for deployment
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

fix ref for diff checkout
  .github/workflows/cdk-diff.yaml
Due: prettier --write

set ref for checkout to head.sha
  .github/workflows/cdk-diff.yaml
Due: prettier --write

add logs to geht insights
  .github/workflows/cdk-diff.yaml
Due: prettier --write

Restrict run of diff to success
  .github/workflows/cdk-diff.yaml
Due: prettier --write

chore: ad logs to steps
  .github/workflows/cdk-diff.yaml
Due: prettier --write

chore: fix reference to variables
  .github/workflows/cdk-diff.yaml
Due: prettier --write

chore: call workflow from other one
  .github/workflows/cdk-diff.yaml
  .github/workflows/on-pr-updated.yml
Due: prettier --write

change trigger to pull_request
  .github/workflows/on-pr-updated.yml
Due: none

fix action declaration
  .github/workflows/on-pr-updated.yml
Due: none

fix title of diff step
  .github/workflows/on-pr-updated.yml
Due: none

for order and reference to workflow
  .github/workflows/on-pr-updated.yml
Due: none

add action to generate diffs
  .github/actions/cdk-diff/action.yaml
Due: prettier --write

reuse workflow locally
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

remove action
  .github/actions/cdk-diff/action.yaml
Due: prettier --write

add necessary permissions in calling workflow
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

fix conditions in workflows
  .github/workflows/cdk-diff.yaml
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

fix string interpolation and constant value
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

introduce logs to identify issue with ref
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

update getting ref to github.head_ref
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

change reference to use github.head.sha
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

use github sha for called action
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

add slack configuration to deploy slack
  .github/workflows/cdk-diff.yaml
Due: prettier --write

replace vars with secrets to get proper access
  .github/workflows/cdk-diff.yaml
Due: prettier --write

interit secrets to called workflow
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

remove log job
  .github/workflows/on-pr-updated.yaml
Due: prettier --write

chore: add .envrc to gitignore
  .gitignore
Due: none

feat: integrate chatbot stack (#4)
  .github/workflows/cdk-deploy.yaml
  .github/workflows/cdk-diff.yaml
  .github/workflows/on-pr-updated.yaml
  bin/chatbot-config.ts
  lib/chatbot-stack.ts
  lib/config.ts
Due: prettier --write, yarn lint:fix

add workflow dispatch as triggers
  .github/workflows/cdk-diff.yaml
Due: prettier --write

add workflow dispatch to deploy triggers
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

fix missing environment variables for deploy
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

chore: fix deployment action (#5)
  .github/workflows/cdk-deploy.yaml
  .github/workflows/cdk-diff.yaml
Due: prettier --write

add topic to notify slack
  lib/chatbot-stack.ts
Due: yarn lint:fix

set log retention on slack channel configuration
  lib/chatbot-stack.ts
Due: yarn lint:fix

fix: add sns topic for notifications (#6)
  lib/chatbot-stack.ts
Due: yarn lint:fix

chore: differentiate between triggers for checkout
  .github/workflows/cdk-deploy.yaml
Due: prettier --write

expose topic of chatbot stack for references
  lib/chatbot-stack.ts
Due: yarn lint:fix

define config rule stack props with cloudformation stack notification
  lib/config-rules-stack.ts
Due: yarn lint:fix

Path conditions:
  prettier --write: (any of: *.yaml) or (any of: *.json)
  yarn lint:fix: any of: *.ts
